/* ---- Generic css classes ---- */

.black  { color: black }
.blue   { color: blue }
/* .cyan   { color: cyan } BAD in light mode */
.gray   { color: gray }
.green  { color: green }
.olive  { color: rgb(151, 151, 0) }
.orange { color: darkorange }
.red    { color: red }
.white  { color: white }
/* .yellow { color: yellow } BAD in light mode */


/* width percents */
.md-typeset .w5  , .w5  { width: 5%;  }
.md-typeset .w10 , .w10 { width: 10%; }
.md-typeset .w15 , .w15 { width: 15%; }
.md-typeset .w20 , .w20 { width: 20%; }
.md-typeset .w25 , .w25 { width: 25%; }
.md-typeset .w30 , .w30 { width: 30%; }
.md-typeset .w35 , .w35 { width: 35%; }
.md-typeset .w40 , .w40 { width: 40%; }
.md-typeset .w45 , .w45 { width: 45%; }
.md-typeset .w50 , .w50 { width: 50%; }
.md-typeset .w55 , .w55 { width: 55%; }
.md-typeset .w60 , .w60 { width: 60%; }
.md-typeset .w65 , .w65 { width: 65%; }
.md-typeset .w75 , .w75 { width: 75%; }
.md-typeset .w80 , .w80 { width: 80%; }
.md-typeset .w100, .w100{ width: 100%; }

/* grid-columns */
.c1 { grid-column: 1; }
.c2 { grid-column: 2; }
.c3 { grid-column: 3; }
.c4 { grid-column: 4; }
.c5 { grid-column: 5; }

.row-of-imgs {
    justify-self:      center;
    display:           grid;
    align-items:       center;
    justify-content:   center;
    gap:               20px;
}

.img-legend {
    display:        flex;
    font-size:      0.6rem;
    font-style:     italic;
    align-items:    center;
    justify-content:center;
    margin-top:    -1em;
    margin-bottom:  2em;
    gap: 0.5em;
}

/* ---- overrides ---- */

.md-typeset, article .md-typeset .admonition, article .md-typeset .details {
    font-size: 0.8rem !important;
    text-align: justify;
}


.md-typeset mark {
    border-radius: 3px;
}


.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 3px 4px var(--md-accent-fg-color--transparent);
}
.md-typeset h1 {
    font-size: 2.2em;
}
.md-typeset h2 {
    font-size: 1.8em;
    margin-top: 4.5em;
    margin-bottom: 1.6em;
}
.md-typeset h2 + h3 {
    margin-top: 1.2em;
}
.md-typeset h3 {
    font-size: 1.4em;
    margin-top: 3em;
    margin-bottom: 1.3em;
    font-weight: normal;
    text-decoration: underline;
}
.md-typeset h4 {
    font-size: 1.2em;
    margin-top: 2.4em;
}
.md-typeset h5 {
    font-size: 1.05em;
    margin-top: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-transform: unset;
}

.md-typeset .tabbed-set {
    border: 1px solid lightgray;
}

.md-typeset .tabbed-content {
    width: calc( 100% - 2 * 1em );
    margin: 1em;
}


/* Format code blocks with box-shadow */
div.highlight {
    width: 100%;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    padding: 0 10px;
    display: grid;
    align-items: center;
    min-height: 2.5em;
}
div.highlight > pre {
    margin: 0;
    padding: 0.7em 0;
    overflow: scroll;
}
div.highlight .md-clipboard {
    right: 0px;
}


@media screen and (max-width: 44.9844em){   /* override */
    .md-content__inner > .highlight {
        margin: unset;
    }
}

.md-typeset .task-list-item [type="checkbox"] {
    top: 0; /*realign task lists*/
}

.md-typeset .admonition.inline.end {
    margin-left: 4em;
}

.md-typeset .admonition.inline:not(.end) {
    margin-right: 4em;
}




/* mkdocstrings overrides */

h3.doc-heading, h4.doc-heading {
    margin-top: 4em;
    margin-bottom: 0em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 1em;
}


.md-typeset h4.doc-heading {
    font-size: 1.1em;
    margin-top: 3em;
}


/* glightbox overrides*/

.md-typeset img[align="right"] {
    margin-left: 3em;
}
.md-typeset img[align="left"] {
    margin-right: 3em;
}



/* override theme */
.no-hover, .no-hover:hover {
    --opacity: 1;
    margin: 0;
  }


/* Admonition tool */
:root {
    --md-admonition-icon--tool: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m21.71 20.29l-1.42 1.42a1 1 0 0 1-1.41 0L7 9.85A3.81 3.81 0 0 1 6 10a4 4 0 0 1-3.78-5.3l2.54 2.54l.53-.53l1.42-1.42l.53-.53L4.7 2.22A4 4 0 0 1 10 6a3.81 3.81 0 0 1-.15 1l11.86 11.88a1 1 0 0 1 0 1.41M2.29 18.88a1 1 0 0 0 0 1.41l1.42 1.42a1 1 0 0 0 1.41 0l5.47-5.46l-2.83-2.83M20 2l-4 2v2l-2.17 2.17l2 2L18 8h2l2-4Z"/></svg>')
  }
  .md-typeset .admonition.tool,
  .md-typeset details.tool {
    border-color: rgb(63, 29, 201);
  }
  .md-typeset .tool > .admonition-title,
  .md-typeset .tool > summary {
    background-color: rgba(47, 65, 181, 0.1);
  }
  .md-typeset .tool > .admonition-title::before,
  .md-typeset .tool > summary::before {
    background-color: rgb(63, 29, 201);
    -webkit-mask-image: var(--md-admonition-icon--tool);
            mask-image: var(--md-admonition-icon--tool);
  }
  
  /* Admonition video */
  :root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m392-313 260-169-260-169v338ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"/></svg>')
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(201, 29, 29);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(181, 47, 47, 0.1);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(201, 29, 29);
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }
  
  /* Admonition A mémoriser */
  :root {
    --md-admonition-icon--mem: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9l2.6-2.4C267.2 438.6 256 404.6 256 368c0-97.2 78.8-176 176-176c28.3 0 55 6.7 78.7 18.5c.9-6.5 1.3-13 1.3-19.6v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5zM576 368a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L416 385.4l60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z"/></svg>')
  }
  .md-typeset .admonition.mem,
  .md-typeset details.mem {
    border-color: #AA8ED6;
  }
  .md-typeset .mem > .admonition-title,
  .md-typeset .mem > summary {
    background-color:  #aa8ed64b;
  }
  .md-typeset .mem > .admonition-title::before,
  .md-typeset .mem > summary::before {
    background-color:  #AA8ED6;
    -webkit-mask-image: var(--md-admonition-icon--mem);
            mask-image: var(--md-admonition-icon--mem);
  }
  
  /* Admonition Python */
  :root {
    --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>')
  }
  .md-typeset .admonition.python,
  .md-typeset details.python {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .python > .admonition-title,
  .md-typeset .python > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .python > .admonition-title::before,
  .md-typeset .python > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--python);
            mask-image: var(--md-admonition-icon--python);
  }


  /* Admonition Histoire */
  :root {
    --md-admonition-icon--histoire: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>clipboard-text-clock</title><path d="M21 11.11V5C21 3.9 20.11 3 19 3H14.82C14.4 1.84 13.3 1 12 1S9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.11 3.9 21 5 21H11.11C12.37 22.24 14.09 23 16 23C19.87 23 23 19.87 23 16C23 14.09 22.24 12.37 21 11.11M12 3C12.55 3 13 3.45 13 4S12.55 5 12 5 11 4.55 11 4 11.45 3 12 3M6 7H18V9H6V7M9.08 17H6V15H9.08C9.03 15.33 9 15.66 9 16S9.03 16.67 9.08 17M6 13V11H11.11C10.5 11.57 10.04 12.25 9.68 13H6M16 21C13.24 21 11 18.76 11 16S13.24 11 16 11 21 13.24 21 16 18.76 21 16 21M16.5 16.25L19.36 17.94L18.61 19.16L15 17V12H16.5V16.25Z" /></svg>')
  }
  .md-typeset .admonition.histoire,
  .md-typeset details.histoire {
    border-color: rgb(121, 121, 121);
  }
  .md-typeset .histoire > .admonition-title,
  .md-typeset .histoire > summary {
    background-color: rgba(128, 128, 128, 0.479);
  }
  .md-typeset .histoire > .admonition-title::before,
  .md-typeset .histoire > summary::before {
    background-color:   var(--md-admonition-fg-color);
    -webkit-mask-image: var(--md-admonition-icon--histoire);
            mask-image: var(--md-admonition-icon--histoire);
  }
  
  /* Admonition Debian */
  :root {
    --md-admonition-icon--debian: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25ZM7.25 8a.749.749 0 0 1-.22.53l-2.25 2.25a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L5.44 8L3.72 6.28a.749.749 0 0 1 .326-1.275a.749.749 0 0 1 .734.215l2.25 2.25c.141.14.22.331.22.53Zm1.5 1.5h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5Z"/></svg>')
  }
  .md-typeset .admonition.debian,
  .md-typeset details.debian {
    border-color: rgb(201, 25, 104);
  }
  .md-typeset .debian > .admonition-title,
  .md-typeset .debian > summary {
    background-color: rgb(66, 8, 39);
  }
  .md-typeset .debian > .admonition-title::before,
  .md-typeset .debian > summary::before {
    background-color: rgb(201, 25, 104);
    -webkit-mask-image: var(--md-admonition-icon--debian);
            mask-image: var(--md-admonition-icon--debian);
  }
  
/* Définition */
  :root {
    --md-admonition-icon--def: url('data:image/svg+xml;charset=utf-8,  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>script-text</title><path d="M17.8,20C17.4,21.2 16.3,22 15,22H5C3.3,22 2,20.7 2,19V18H5L14.2,18C14.6,19.2 15.7,20 17,20H17.8M19,2C20.7,2 22,3.3 22,5V6H20V5C20,4.4 19.6,4 19,4C18.4,4 18,4.4 18,5V18H17C16.4,18 16,17.6 16,17V16H5V5C5,3.3 6.3,2 8,2H19M8,6V8H15V6H8M8,10V12H14V10H8Z" /></svg>')
  }
  .md-typeset .admonition.def,
  .md-typeset details.def {
    border-color: rgb(162, 49, 255);
  }
  .md-typeset .def > .admonition-title,
  .md-typeset .def > summary {
    background-color: rgba(202, 69, 255, 0.404);
  }
  .md-typeset .def > .admonition-title::before,
  .md-typeset .def > summary::before {
    background-color:   var(--md-admonition-fg-color);
    -webkit-mask-image: var(--md-admonition-icon--def);
            mask-image: var(--md-admonition-icon--def);
  }




/* Programme */
  :root {
    --md-admonition-icon--progra: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
    }
    .md-typeset .admonition.progra,
    .md-typeset details.progra {
    border-color: rgb(0, 4, 255);
    }
    .md-typeset .progra > .admonition-title,
    .md-typeset .progra > summary {
    background-color: rgba(90, 72, 255, 0.329);
    border-color: rgb(0, 4, 255);
    }
    .md-typeset .progra > .admonition-title::before,
    .md-typeset .progra > summary::before {
    background-color: rgb(81, 127, 255);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--progra);
            mask-image: var(--md-admonition-icon--progra);
    }

    /* Mise en forme des titres */
  .md-typeset h1,
  .md-typeset h2,
  .md-typeset h3 {
    color: var(--md-primary-fg-color--light);
  }

/*Couleur des icones première et term*/

path[d="M9 7v2h2v8h2V9h2V7zm3-5a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2"] {fill: rgb(255, 60, 60)}

path[d="M10 7v2h2v8h2V7zm2-5a10 10 0 0 1 10 10 10 10 0 0 1-10 10A10 10 0 0 1 2 12 10 10 0 0 1 12 2"] {fill: rgb(255, 183, 50)}


/*cacher des éléments, notamment de menu pour introduire les admonittions dans le toc*/
.hidden {
  visibility: hidden !important;
  font-size: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/*Décalage des sous-menus de la barre de navigation*/
li nav ul li nav ul li {
  margin-left: 15px;
}

li nav ul li nav ul li nav ul li {
  margin-left: 5px;
}

/*On grossit le titre des admonitions*/
.md-typeset .admonition {
  font-size: 0.8rem;
}
.md-typeset details {
  font-size: 0.8rem;
}



/* pour appli tri */

#bouton-melange,
#bouton-lancer {
    background-color: rgb(44, 151, 222);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    min-width: 15%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

#bouton-melange:hover {
    background-color: rgb(16, 73, 186)
}

#bouton-lancer {
    background-color: rgb(0, 168, 64);
}

#bouton-lancer:hover {
    background-color: rgb(37, 130, 73);
}

#tableau{
    font-family: 'Courier New', Courier, monospace;
    height: 2.5em;
    width: 80%;
    border: 1px solid;
    color: black;
    font-size: 105%;
}


#canvas {
    display: block;
    margin: auto;
}


/* center les tableaux */
.md-typeset__table, .md-typeset__scrollwrap {
  margin: 0 auto; 
  display: flex;
}

/* Centrer les images */
.center {
  display: block;
  margin: 0 auto;
}
/*Gras en rouge*/
strong {
  color: var(--md-primary-fg-color--light);
}
/*Couleur des titres*/
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: var(--md-primary-fg-color--light);
}
/*Espacement des titres*/
.md-typeset h1 {
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}
.md-typeset h2 {
    font-weight: 400;
    font-size: 2.2em;
    margin: .2em 0 .2em;
}
.md-typeset h3 {
  margin: .2em 0 .2em;
}

.md-typeset a{
  color: deepskyblue;
}
.md-typeset a:hover{
  color: var(--md-primary-fg-color--light);
}

.md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color--light);
}

.md-nav--lifted > .md-nav__list > .md-nav__item > [for] {
color: var(--md-primary-fg-color--light);
}

.md-typeset div.arithmatex  {
  overflow: initial;
}

/* @keyframes heart {
  0%, 40%, 80%, 100% {
  transform: scale(1);
  }
  20%, 60% {
  transform: scale(1.1);
  }
} */
.heart {
  /* animation: heart 1000ms infinite; */
  color:firebrick;
}

/* 3 derniers éléments de menu*/
ul.md-tabs__list li:nth-last-child(-n+3){color: var(--md-footer-bg-color--dark);}