<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=no">
    <title>Diaporama</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reset.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/theme/blood.css">
<!-- Theme used for syntax highlighted code -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/plugin/highlight/monokai.css">
<style>
:root {
  --r-background-color: #1e2129;
}
.scrollable-slide {
    height: 100%;
    overflow-y: auto !important;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-corner {
  background-color: #333;
}
.reveal p code {
  background-color: #000;
  color: #2cd913;
}
</style>
</head>



<body>
<div class="reveal">
    <div class="slides">
        <section data-markdown data-separator="-----" data-separator-vertical="---">
            <textarea data-template>
{{ page.markdown | escape }}
            </textarea>
        </section>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/notes/notes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/markdown/markdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/highlight/highlight.js"></script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    Reveal.initialize({ plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
 });

    //https://stackoverflow.com/questions/35237862/best-way-to-handle-overflowing-reveal-js-slide
    function resetSlideScrolling(slide) {
    slide.classList.remove('scrollable-slide');
    }
    function handleSlideScrolling(slide) {
        if (slide.scrollHeight >= document.body.offsetHeight) {
            slide.classList.add('scrollable-slide');
            slide.style.height = document.body.offsetHeight - 50 + 'px';
        }
    }

    Reveal.addEventListener('ready', function (event) {
        handleSlideScrolling(event.currentSlide);
    });

    Reveal.addEventListener('slidechanged', function (event) {
        if (event.previousSlide) {
            resetSlideScrolling(event.previousSlide);
        }
        handleSlideScrolling(event.currentSlide);
    });
    /*
        width: '100%',
        height: '100%',
        // Factor of the display size that should remain empty around
        // the content
        margin: 0.04,
        // Bounds for smallest/largest possible scale to apply to content
        minScale: 0.2,
        maxScale: 2.0,
        hash: true
    });
*/

</script>
</body>
</html>